@using MlNetCore.Models.Views;
@model  MovieViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;

@inject IViewLocalizer Localizer

@{
    string returnBtn = Localizer["ReturnMovieList"].Value;
    ViewData["MovieTitle"] = Localizer["MovieTitle"];
    ViewData["MovieGenre"] = Localizer["MovieGenre"];
    ViewData["MovieRelDate"] = Localizer["MovieRelDate"];
    ViewData["MoviePrice"] = Localizer["MoviePrice"];
    ViewData["MovieRating"] = Localizer["MovieRating"];
    string send = Localizer["Send"].Value;
}

<h4>@ViewData["Title"]</h4>
<ul>
    <li> @ViewData["MovieTitle"] @Html.DisplayFor(model => model.Title)</li>
    <li> @ViewData["MovieGenre"] @Html.DisplayFor(model => model.Genre)</li>
    <li> @ViewData["MovieRelDate"] @Html.DisplayFor(model => model.ReleaseDate)</li>
    <li> @ViewData["MoviePrice"]: @Html.DisplayFor(model => model.Price)</li>
    <li> @ViewData["MovieRating"]: @Html.DisplayFor(model => model.Rating)</li>
</ul>
 <button type ="button" class="btn btn-default">
    @Html.ActionLink(returnBtn, "Index")
</button>
 <button type ="button" class="btn btn-default">
    @Html.ActionLink(send, "Send")
</button>