@using MlNetCore.Models.Views;
@model  MovieViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;

@inject IViewLocalizer Localizer

@{
    string returnBtn = Localizer["ReturnMovieList"].Value;
    ViewData["MovieTitle"] = Localizer["MovieTitle"];
    ViewData["MovieGenre"] = Localizer["MovieGenre"];
    ViewData["MovieRelDate"] = Localizer["MovieRelDate"];
    ViewData["MoviePrice"] = Localizer["MoviePrice"];
    ViewData["MovieRating"] = Localizer["MovieRating"];
    ViewData["Comments"] = Localizer["Comments"];
    string send = Localizer["Send"].Value;
}

<h4>@ViewData["Title"]</h4>
<ul>
    <li> @ViewData["MovieTitle"] @Html.DisplayFor(model => model.Title)</li>
    <li> @ViewData["MovieGenre"] @Html.DisplayFor(model => model.Genre)</li>
    <li> @ViewData["MovieRelDate"] @Html.DisplayFor(model => model.ReleaseDate)</li>
    <li> @ViewData["MoviePrice"]: @Html.DisplayFor(model => model.Price)</li>
    <li> @ViewData["MovieRating"]: @Html.DisplayFor(model => model.Rating)</li>
</ul>
<h4>@ViewData["Comments"]:</h4>
 
<div class="comment-component container"></div>
<br>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@Html.HiddenFor(m => m.Id, new {@id = "movie-id"})
<div class="form-group">
    @Html.LabelFor(m => m.Comment, new {@class = "col-md-2 control-label"})
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Comment, new {@id= "new-comment", @class = "form-control"})
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>
</div>
<br>
<div class="form-group">
    <div class="col-md-off-set-2 col-md-10">
        <input id="comment-submit" class="btn btn-default" value="Submit comment" />
    </div>
</div> 
<br>
 <button type ="button" class="btn btn-default">
    @Html.ActionLink(returnBtn, "Index")
</button>
 <button type ="button" class="btn btn-default">
    @Html.ActionLink(send, "Send")
</button>