@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@model MlNetCore.Models.Views.MovieGenreViewModel
@inject SignInManager<User> SignInManager
@using Microsoft.AspNetCore.Identity
@inject IViewLocalizer Localizer

@{
    ViewData["MovieGenre"] = Localizer["MovieGenre"];
    ViewData["MovieTitle"] = Localizer["MovieTitle"];
    ViewData["MovieRelDate"] = Localizer["MovieRelDate"];
    ViewData["MoviePrice"] = Localizer["MoviePrice"];
    ViewData["Rating"] = Localizer["Rating"];
}

@if (!SignInManager.IsSignedIn(User))
{
    <h2>Sign in to see more information.</h2>
}
else
{
    <h2>@ViewData["Title"]</h2>
    <button class="btn btn-sm btn-default" type ="button">
        <a asp-area="" asp-controller="HelloWorld" asp-action="NewMovie" class="navbar-brand">Create Movie</a>
    </button>
    <br><br>
    <form asp-controller="HelloWorld" asp-action="Index" method="get" class="container">
        <p>
            <select asp-for="movieGenre" asp-items="Model.genres">
                <option value="">All</option>
            </select>
            @ViewData["MovieTitle"]: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>
    <br><br>
    <h4>This are the movies:</h4>
    <table class="table col-md-12">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.movies[0].Title)</th>
                <th>@Html.DisplayNameFor(model => model.movies[0].ReleaseDate)</th>
                <th>@Html.DisplayNameFor(model => model.movies[0].Genre)</th>
                <th>@Html.DisplayNameFor(model => model.movies[0].Price)</th>
                <th>@Html.DisplayNameFor(model => model.movies[0].Rating)</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.movies) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}
